*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #09888f;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

.header{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
p, h1, h2, h3, h4, h5, h6, a{
    color: #ebcece;
}
.header a{
    text-decoration: none;
    color: #ebcece;
    font-size: 1.2rem;
    font-weight: bold;
}